#jardín {
    pantalla: cuadrícula;
    columnas de plantilla de cuadrícula: 20% 20% 20% 20% 20%;
    filas de plantilla de cuadrícula: 20% 20% 20% 20% 20%;
  }
  
  #veneno {
  grid-column: 2;
  grid-row: 5;
  }