#jardín {
    pantalla: cuadrícula;
    columnas de plantilla de cuadrícula: 20% 20% 20% 20% 20%;
    filas de plantilla de cuadrícula: 20% 20% 20% 20% 20%;
  }
  
  #agua {
  grid-column: 2/6;
  grid-row: 1/6;
  }